body {
    background-color: rgb(166, 214, 231);
}
#scan {
    font-size: 40px;
}

@media (max-width: 500px) {
body {
    background-color: rgb(166, 214, 231);
}
video {
 max-width: 390px;
 margin: -8px;
}
#scan {
    font-size: 40px;
}
}